/* ====================== GET QUESTION ====================== */
.questionPage {
    padding: 0 !important;
}

/* ---------------- header ---------------*/
.questionPage .titleHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 26px 56px;
    box-sizing: border-box;
    background: var(--black-third-background);
}

@media only screen and (max-width: 700px) {
    .questionPage .titleHeader {
    }


}

/* ---------------- textes ---------------*/

/* title of question */
.questionPage .titleHeader > span {
    color: white;
}

/* created at*/
.questionPage .titleHeader > div > span {
    color: #787575;
}


/* counters with icons */
.questionPage .titleHeader > div > div span {
    color: white;
}


/* ---------------- layout ---------------*/


.questionPage .titleHeader > div {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 28%;
    justify-content: space-between;
}

.questionPage .titleHeader > div > div {
    display: flex;
    flex-direction: row;
    gap: 11px;
    align-items: flex-end;
    height: 100%;
}

@media only screen and (max-width: 700px) {
    .questionPage .titleHeader > div {
        width: fit-content;
    }

    .questionPage .titleHeader {
        padding: 26px 15px 26px 76px;
    }
}

/* ====================== content  ====================== */
.questionPage .row {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.questionPage .left {
    display: flex;
    width: 100%;
    flex-direction: column;
    position: relative;
    color: white;
}

.questionPage .questionContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 68px 58px;
}

.questionPage .questionContent .resultOFTextAreaMarkdown,
.questionPage .questionContent .oneResponse,
.questionPage .questionContent .hr {
    width: 50%;
}

.questionPage .left-open {
    /*padding: 68px 58px;*/
    box-sizing: border-box;
    width: 50%;
}

.questionPage .left-open .questionContent .resultOFTextAreaMarkdown,
.questionPage .left-open .questionContent .oneResponse,
.questionPage .left-open .questionContent .hr {
    width: 100%;
}

.questionPage .widgetQuestionSettings {

    display: flex;
    flex-direction: column;
    background: #000000eb;
    border: 0.5px solid black;
    color: white;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 20px;
    position: absolute;
    left: 50%;
    top: 215%;
    transform: translate(-50%, 0);
    z-index: 2;
}

.questionPage .widgetQuestionSettings > a:hover, .questionPage .widgetQuestionSettings > span:hover {
    color: white !important;
}

/* ====================== author   ====================== */
.questionPage .authorSection {
    width: fit-content;
    display: flex;
    flex-direction: row;
    background: var(--black-second-background);
    padding: 20px;
    box-sizing: border-box;
    align-items: center;
    gap: 20px;
    color: white;
}

.questionPage .authorSection img {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    object-fit: contain;
}


@media only screen and (max-width: 700px) {


.questionPage .questionContent {
    padding: 37px 13px;}
}
