.profilePage {

}

.profilePage .section1 {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 37px;
    margin-bottom: 50px;
}

.profilePage .section1 img {
    width: 12%;
    object-fit: contain;
    border-radius: 50%;
}

.profilePage .section1 > div {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-top: 30px;

}

.profilePage .section1 > div span {
    color: var(--grey);
}


.profilePage .section1 > div span:first-child {
    color: white;
}


/* ====================== sections  ====================== */

.profileSectionDetails {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.profileSectionDetails ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 42px;
    padding: 0;
}

.profileSectionDetails ul li {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 8px;
    cursor: pointer;

}

.profileSectionDetails ul li span:first-child {
    color: #787575;
}

.profileSectionDetails ul li span:last-child {
    color: white;
}

.profileSectionDetails .focus {
    font-weight: bold;
    color: white !important;
}

@media only screen and (max-width: 700px) {
    .profilePage .section1 {
        gap: 22px;
    }

    .profilePage .section1 img {
        width: 20%;
    }

    .profileSectionDetails ul {
        width: 100%;
        flex-direction: column;
        align-items: start;
        gap: 19px;
    }

}
