
.loginPage{
    width: 30%;
    height: 100%;
    align-items: center;
}
.loginPage h1{
    margin: 0;
}
.loginPage h1 img{

    width: 18px;
}
.loginPage p{
    color: var(--grey);
    text-align: center;
}
.loginPage a{

    text-decoration: none;
    color: var(--grey);
}


@media only screen and (max-width: 700px) {

    .loginPage p,
    .loginPage a{
        font-size: 15px;
    }
.loginPage {
    width: 74vw;}
}
