

/* ====================== sections  ====================== */

.profileSection2{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.profileSection2 ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 42px;
    padding: 0;
}

.profileSection2 ul li{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 8px;
    cursor: pointer;

}
.profileSection2 ul li span:first-child{
    color: #787575;
}.profileSection2 ul li span:last-child{
     color: white;
 }
.profileSection2 .focus{
    font-weight: bold;
    color: white !important;
}


@media only screen and (max-width: 700px) {

}
