/*==========TITLE================*/

.titleSpan1 {
    background: -webkit-linear-gradient(10deg, #346F9D, var(--blue));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.titleSpan2 {
    background: -webkit-linear-gradient(-15deg, #F4E096, #F5D044);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-right: 10px;
}

.titleSpan1, .titleSpan2 {
    font-weight: bold;
}

.fs-60 {
    font-size: 60px;
}
@media only screen and (max-width: 700px) {
    .titleSpan1, .titleSpan2 {
        font-weight: bold;
        font-size: 25px;
    }
}
/*===============HEADER=============*/
.homePage {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homePage .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.homePage .header > div {
    gap: 15px;
    display: flex;
    flex-direction: row;
}


.homePage > p {
    color: white;
    font-size: 42px;
    width: 50%;

    margin-block: 31vh;
}

.homePage .greyText {
    color: var(--grey);
    font-size: 34px;
}

.homePage .descriptionContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 76%;
    margin-bottom: 40vh;
}

.homePage .descriptionContainer .oneTechno {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;

    width: 29%;
}

.homePage .descriptionContainer .oneTechno p {
    color: var(--grey);
    margin: 0;

}

.homePage .descriptionContainer .oneTechno .logoBackground {
    background: var(--black-second-background);
    border: 1px solid #484848;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 40px;
    height: 40px;
}

.homePage .descriptionContainer .oneTechno .logoBackground img
{width: 100%;height: 100%;object-fit: contain;}
.homePage .descriptionContainer .oneTechno span {

    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-size: 42px;
}

.homePage .descriptionContainer #reactSection > span {
    background: -webkit-linear-gradient(10deg, #61DAFB, #22C5F1);
    -webkit-background-clip: text;
}

.homePage .descriptionContainer #djangoSection > span {
    background: -webkit-linear-gradient(180deg, #2BA977, #278E65);
    -webkit-background-clip: text;
}

.homePage .descriptionContainer #postgresqlSection > span {
    background: -webkit-linear-gradient(-91deg, #258ADB, #9DBDD6);
    -webkit-background-clip: text;
}


@media only screen and (max-width: 700px) {
    .homePage > p {
        width: 95%;
        font-size: 29px;
        margin-block: 15vh;
    }

.homePage .descriptionContainer {
    width: 95%;
}
    .fs-60 {
        font-size: 40px;
    }

    .homePage .greyText {
        font-size: 20px;
    }


    .homePage .descriptionContainer {
        flex-direction: column;
        gap: 50px;
    }

    .homePage .descriptionContainer .oneTechno {
        width: 100%;
    }

.homePage .descriptionContainer .oneTechno .logoBackground {
    height: 30px;
    width: 30px;
}
}
