@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --black: #1C1C1C;
    --grey: #c7c7c7;
    --grey2: #3d3d3d;
    --black-second-background: #202020;
    --black-third-background: #171717;
    --blue: #3B8FD1;
    --dark-blue: #357eb8;
}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    overflow-x: hidden;
    margin: 0;
    background: var(--black);
    font-size: 18px;
    font-weight: 400;
    width: 100vw;
    min-height: 100vh;;
}

#app {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

::selection {
    background: var(--blue);
    color: black;
    text-shadow: none;
}

::-moz-selection {
    background: var(--blue);
    color: #EEE;
    text-shadow: none;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--black-second-background);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #3d3d47;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #232325;
}

 @media only screen and (max-width: 700px) {
     body{
         font-size: 16px;
     }
 }
/*==========FONT================*/
.lg-text {
    font-weight: 500;
    font-size: 24px;
}

.lg-bold-text {
    font-weight: bold;
    font-size: 24px;
}

.md-text {
    font-weight: 400;
    font-size: 20px;
}

.md-bold-text {
    font-weight: bold;
    font-size: 20px;
}

.sm-text {
    font-weight: 500;
    font-size: 17px;
}

.xsm-text {
    font-weight: 500;
    font-size: 16px;
}

/*==========BASIC================*/
.error {
    color: #912626 !important;
}

a {
    text-decoration: none;
    color: white;
}

.hr {
    width: 100%;
    background: #414141;
    height: 0.5px;
    margin-block: 20px;
}

.d-none {
    display: none !important;
}

.d-flex {
    display: flex;
}
@media only screen and (max-width: 700px) {
    .lg-bold-text {
        font-size: 20px;
    }
    .md-text {
        font-size: 15px;
    }.lg-text {
         font-size: 15px;
     }
}
/*=============COMPONENT==============*/


/* buttons*/

.button0 {
    background: white;
    color: var(--black);
}

.button1 {
    background: transparent;
    border: 1px solid white;
    color: white;
}

.button0, .button1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 43px;
    width: fit-content;
    height: fit-content;
    text-decoration: none;
    padding: 10px 30px;
    font-size: 19px;
    box-sizing: border-box;
    cursor: pointer;
}


.button2 {
    cursor: pointer;
    background: transparent;
    padding: 5px 10px;
    color: white;
    border-radius: 5px;
    border: 1px solid white;
    cursor: pointer;
}


/*custom title*/


.customTitle {
    width: fit-content;
    position: relative;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-bottom: 50px;
}

.customTitle h1 {
    font-family: Inter, sans-serif;
    font-size: 128px;
    color: #ffffff1c;
    margin: 0;
}

.customTitle h2 {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    color: white;
}

@media only screen and (max-width: 700px) {
    .customTitle h1 {
        font-size: 94px;
    }

    .customTitle h2 {
        font-size: 22px;
    }
}

/* forms */


.basicForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;

}


.basicForm label, .basicForm legend {
    width: 30%;
    color: white;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

.basicForm input, .basicForm textarea, .basicForm select {
    width: 100%;
    background: var(--black-second-background);
    border: 1px solid var(--grey2);
    border-radius: 6px;
    padding: 20px 24px;
    box-sizing: border-box;
    color: white;
    outline: 0;
    font-weight: 400;
    font-size: 16px;
}

.basicForm textarea {
    padding-top: 80px;
    width: 100%;
}

.basicForm fieldset {
    border: 1px solid var(--grey2);
    border-radius: 6px;
}


.basicForm span, .basicForm label {
    color: white;
}

.basicForm label {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
}

.basicForm input:focus-visible, .basicForm textarea:focus-visible, .basicForm select:focus-visible, .basicForm label:focus-visible,
.basicForm input:focus, .basicForm textarea:focus, .basicForm select:focus, .basicForm label:focus {
    border: 1px solid var(--blue);
}

.basicForm input::placeholder, .basicForm textarea::placeholder {
    color: var(--grey);
    font-size: 18px;
}


.basicForm .oneChoice {
    display: flex;
    flex-direction: row;
    width: fit-content;
}


/* row for theme */


.rowForList {
    color: white;
    width: 100%;
    border: 1px solid #484848;
    border-radius: 10px;
    padding: 24px 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--black-second-background);
}

.rowForList .badge {
    color: var(--grey);
    background: #3a3a3a;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 7px;
    margin-inline: 5px;
    cursor: pointer;
}
.rowForList span{

    line-height: 34px;
}

.rowForList .icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 60px;
}

.rowForList .icons div {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}


/* question list */

.questionsList {
    display: flex;
    flex-direction: column;
    gap: 25px;
}


/* user list */
.usersList {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.usersList > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    gap: 50px
}

.usersList > div > a {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.usersList .name {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    width: 29%;
}

.usersList .name img {
    width: 35px;
    border-radius: 50%;
    object-fit: cover;
}

.usersList .createdAt {
    color: #787575;
}

.usersList .counters {

    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: self-end;
    width: 10%;
}


.usersList .counters span:first-child {
    color: #787575;
}

@media only screen and (max-width: 700px) {

    .usersList .createdAt{
        display: none;
    }

    .usersList .counters{
        display: none;}
}
/* security widget */
#securityWidgetContainer {
    position: absolute;
    left: 0;
    top: 0;
    background: rgb(38 43 69 / 71%);
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

#securityWidgetContainer .securityWidget {

    background: black;
    width: 23%;
    height: 26%;
    border-radius: 30px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

#securityWidgetContainer .securityWidget div {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

